<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pwr.mobilne.langu">

    <application
        android:allowBackup="true"
        android:icon="@drawable/langu_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/langu_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Langu">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".activities.game.hangman.HangmanActivity" />
        <activity android:name=".WordSearchActivity" />
        <activity android:name=".AddFlashcard" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>